name: Audit JavaScript

on:
  workflow_dispatch:
  schedule:
    - cron: '0 0 * * *'
  push:
    branches:
      - main
    paths:
      - '.github/workflows/audit-javascript.yml'
      - "**/pnpm-lock.yaml"
      - "**/package.json"
  pull_request:
    branches:
      - main
    paths:
      - '.github/workflows/audit-javascript.yml'
      - "**/pnpm-lock.yaml"
      - "**/package.json"

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  audit-js:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Cache pnpm modules
        uses: actions/cache@v5
        with:
          path: ~/.pnpm-store
          key: ${{ runner.os }}-${{ hashFiles('**/pnpm-lock.yaml') }}
          restore-keys: |
            ${{ runner.os }}-
      - uses: actions/setup-node@v6
        with:
          node-version: '24'
      - uses: pnpm/action-setup@v4
        with:
          run_install: true
      - name: audit
        run: pnpm audit
