name: covector status
on: [pull_request]

jobs:
  covector:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - uses: actions/setup-node@v6
        with:
          node-version: '24'
      - uses: pnpm/action-setup@v4
        with:
          run_install: true
      - name: covector status
        uses: jbolda/covector/packages/action@covector-v0
        with:
          command: 'status'
